* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --primary-color: #215EBB;
    --secondary-color: #AFCEE3;
    --other-color: #0E2859;
    --other1-color: #CE6C37;
    --other2-color: #c3b692;
}

header {
    background-color: var(--other-color); 
    display: flex; 
    padding: 20px;
/*     width: auto;
    height: auto; */
    align-items: center;
    justify-content: space-between;
    
}

/* LOGO*/
header .logo {
    position: relative;
    /* top: -15px; */
    width: 130px;
    height: 80px;
    text-align: center;
}

header .logo img {
    height: 100%;
    width: 100%;
}

header .logo p {
    position: absolute;
    bottom: 45px;
    font-size: 17px;
    left: 0;
    width: 100%;
    margin: 0;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

/* NAV */

header nav {
    /* background-color: blue; */
    display: inline;
}

header nav ul {
    display:flex;
    gap: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--other1-color);
}

/* Section de presentacion */
main section#presentation {
    margin: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

main section#presentation img {
    height: 250px;
    width: 280px;
}