* {
    padding: 0;
    margin: 0;
    font-family: var(--font-title);
}

:root {
    --primary-color: #215EBB;
    --secondary-color: #AFCEE3;
    --other-color: #0E2859;
    --other1-color: #CE6C37;
    --other2-color: #c3b692;
    --font-text: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --font-titles: Arial, Helvetica, sans-serif;
}

/* Set fonts for titles*/
h1{
    font-family: var(--font-titles);
}

h2{
    font-family: var(--font-titles);
}

h3{
    font-family: var(--font-titles);
}

header {
    background-color: var(--other-color); 
    display: flex; 
    padding: 20px;
/*     width: auto;
    height: auto; */
    align-items: center;
    justify-content: space-between;
    
}

/* LOGO*/
header .logo {
    position: relative;
    /* top: -15px; */
    width: 130px;
    height: 80px;
    text-align: center;
}

header .logo img {
    height: 100%;
    width: 100%;
}

header .logo p {
    position: absolute;
    bottom: 45px;
    font-size: 17px;
    left: 0;
    width: 100%;
    margin: 0;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 0.5px black;
}

/* NAV */

header nav {
    /* background-color: blue; */
    display: inline;
}

header nav ul {
    display:flex;
    gap: 10px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav ul li a:hover {
    color: var(--other1-color);
}

/* section{
    min-height: 100vh;
} */

/* Section presentation */
main section#presentation {
    margin: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}

main section#presentation img {
    height: 250px;
    width: 280px;
}

/* Section Categories*/
main section#categories {
    text-align: center;
}
main section#categories .container-grid-categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main section#categories .container-grid-categories .card-categories {
    margin: 30px;
    padding: 10px;
    text-align: center;
}

main section#categories .container-grid-categories .card-categories img{
    height: 150px;
    width: 150px;
}

/* Section products*/

main section#products {
    text-align: center;
}

main section#products .container-grid-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

main section#products .container-grid-products .card-product{
    padding: 20px;
    /* add post */
    margin-left: 30%;
    height: 250px;
    width: 200px;
}

main section#products .container-grid-products .card-product img{
    height: 150px;
    width: 150px;
}

main section#products .container-grid-products .card-product a{
    text-decoration: none;
    margin-top: 10px;
    margin-left: 25%;
    display: block;
    background-color: var(--other-color);
    border: none;
    border-radius: 3px;
    width: 80px;
    color: var(--secondary-color);
    text-align: center;
    padding: 10px;
}

main section#products .container-grid-products .card-product a:hover {
    background-color: var(--primary-color);
  }

/* Section formcontact*/

main section#formcontact {
    margin: 150px;
    text-align: center;
  }
  
  form {
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
/*    height: auto;
    width: 400px; */
  }
  
  form label {
    display: flex;
    margin-left: 38%;
  }
  
  form input {
    margin-top: 3px;
    margin-bottom: 2px; /* separacion entre input y label */
    width: 390px;
    border-radius: 3px;
    border: 1.5px  groove;
    /*border-style:ridge;*/ 
    height: 25px;
  }
  
  form h2 {
    margin-left: 1%;
    padding: 3%;
  }
  
  form textarea {
    width: 390px;
    border-radius: 3px;
    border: 1.5px  groove;
  }
  
  form button {
    background-color: var(--other-color);
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 80px;
    color: var(--secondary-color);
  }

  form button:hover {
    background-color: var(--primary-color);
  }

/* Whatsapp Button */

#whatsapp {
    position: fixed;
    bottom: 60px;
    right:80px;
    z-index: 1;
 }

 svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
 }

 circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }

  /* Footer */

  footer {
    display: flex;
    height: 100%;
    width: auto;
    margin: 0 auto;
    padding-block: 7em;
    justify-content: center;
    position: relative;
    flex-direction: column;
    align-items: center;
    background-color: var(--other-color);
  }

footer section .datacontent{
    margin-left: 50px;
    left: 0;
    bottom: 10;
    z-index: 1;
    position: absolute; 
    font-weight: bold;
    color: white;
}

footer section .datacontent a{
    text-decoration: none;
    color: white;
}

footer section .datacontent .email{
    display: flex;
    padding: 5px;
}
footer section .datacontent .email span{
    margin-left: 5px;
}

footer section .datacontent .call{
    display: flex;
    padding: 5px;
}
footer section .datacontent .call span{
    margin-left: 5px;
}

footer section .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--other-color);
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
}